{% extends "base.html" %}

{% block content %}
<div class="container">
<div class="row g-3">
        <table class="table table-hover">
          <thead>
            <tr>
              <div class="col-8">
              <th class="col-2">Время</th>
              <th class="col-2">Понедельник</th>
              <th class="col-2">Вторник</th>
              <th class="col-2">Среда</th>
              </div>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">12:00 - 13:45</th>
              <td>PY-1/22-1</td>
              <td>PYJ-1/22-2</td>
              <td>PY-2/22-5</td>
            </tr>
            <tr>
              <th scope="row">14:00 - 15:45</th>
              <td>PY-3/22-2</td>
              <td>PY-1/21-4</td>
              <td>PY-3/22-1</td>
            </tr>
              <tr>
              <th scope="row">16:00 - 17:45</th>
              <td>PY-3/22-5</td>
              <td>PY-5/20-2</td>
              <td>PY-3/22-1</td>
            </tr>
            <tr>
              <th scope="row">18:00 - 19:45</th>
              <td>Yandex - 2</td>
              <td>Yandex - 3</td>
              <td>Yandex - 1</td>
            </tr>
          </tbody>
          <thead>
            <tr>
              <th class="col-2">Время</th>
              <th class="col-2">Четверг</th>
              <th class="col-2">Пятница</th>
              <th class="col-2">Суббота</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">12:00 - 13:45</th>
              <td>PY-1/22-1</td>
              <td>PYJ-1/22-2</td>
              <td>PY-2/22-5</td>
            </tr>
            <tr>
              <th scope="row">14:00 - 15:45</th>
              <td>PY-3/22-2</td>
              <td>PY-1/21-4</td>
              <td>PY-3/22-1</td>
            </tr>
              <tr>
              <th scope="row">16:00 - 17:45</th>
              <td>PY-3/22-5</td>
              <td>PY-5/20-2</td>
              <td>PY-3/22-1</td>
            </tr>
            <tr>
              <th scope="row">18:00 - 19:45</th>
              <td>Yandex - 2</td>
              <td>Yandex - 3</td>
              <td>Yandex - 1</td>
            </tr>
          </tbody>
        </table>
        </div>
</div>
{% endblock %}

